.App {
  text-align: center;
  padding-top: 50px;
  height: 100vh;
  overflow-x: hidden;
}

nav div.container {
  width: auto;
}

.app-content {
  overflow-x: hidden;
  position: fixed;
  top: 50px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  margin-bottom: 20px;
  font-size: 45px;
  font-family: Scriptina;
  font-weight: 800;
  text-shadow: 0 0 10px black, 0 0 13px black;
  color: white;
  z-index: 1;
}

h2 {
  font-size: 25px;
  font-family: Scriptina;
  font-weight: 800;
  text-shadow: 0 0 3px #FFFFFF, 0 0 5px #000000;
}

p {
  text-shadow: 0 0 1px #FFFFFF;
  margin: 0;
}

div.spacer {
  padding-bottom: 20px;
  overflow-x: hidden;
}

.links {
  margin-left: 3%;
  margin-right: 3%;
  overflow: hidden;
}

.book-link {
  background-color: antiquewhite;
  display: block;
  text-align: left;
  padding: 2px;
  padding-top: 10px; 
  padding-bottom: 10px; 
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  font-family: Scriptina;
  border-color: #AAAAAA;
  border-style: solid;
}

.book-link img {
  height: 50px;
  margin-right: 10px;
  margin-left: 20px;
}

div.page {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.series-link {
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 10px;
  background-size: contain;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  border-style: solid;
  border-color: #AAAAAA;
}

.series-link:nth-child(1) {
  background-image: url("./resources/russian_thrillers_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #CCCCFF 60%), url("./resources/russian_thrillers_background.jpeg"); /* W3C */
}

.series-link:nth-child(2){
  background-image: url("./resources/black_eagle_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #FFCCCC 60%), url("./resources/black_eagle_background.jpeg"); /* W3C */
}

.series-link:nth-child(3) {
  background-image: url("./resources/russian_tales_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #CCFFCC 60%), url("./resources/russian_tales_background.jpeg"); /* W3C */
}

.series-link h2 {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.series-link div {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.main-header {
  height: 100px;
}

.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

.navbar-inverse .navbar-nav>li>a:focus {
  background-color: transparent;
  color: #999999;
  outline: none;
}

.spacer:nth-child(2) .page {
  background-color: rgba(204, 204, 255, 0.8)
}

.spacer:nth-child(3) .page {
  background-color: rgba(255, 204, 204, 0.8)
}

.spacer:nth-child(4) .page {
  background-color: rgba(204, 255, 204, 0.8)
}

.spacer:nth-child(5) .page {
  background-color: rgba(255, 255, 204, 0.8)
}

h2.section-header {
  font-size: 40px;
  margin-bottom: 20px;
}

.info {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
  width: 94%;
  background-color: rgba(250,235,215, 0.6);
  padding: 20px;
  border-radius: 20px;
  text-align: justify;
  border-color: #AAAAAA;
  border-style: solid;
}

.modal-description {
  text-align: justify;
  text-indent: 20px;
  font-size: 15px;
}

.modal-image {
  display: inline-block;
  float: right;
  margin-left: 10px;
}

.modal-image img {
  max-height: 40vh;
}

.centered {
  text-align: center;
}

.modal-title {
  font-size: 25px;
  font-family: Scriptina;
  font-weight: 800;
  text-shadow: 0 0 3px #FFFFFF, 0 0 5px #000000;
}

div.modal {
  overflow-y: auto;
}

.modal-dialog {
  margin: auto;
  margin-top: 2%;
  max-width: 96%;
  max-height: 96%;
}

.modal-content {
  min-height: 90vh;
}

@media only screen and (orientation:landscape) {
  .series-links-container {
    width: 100%;
    flex: 80%;
    height: 80%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .book-link {
    width: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .series-link {
    width: 28%;
    margin-right: 0;
    margin-bottom: 0;
  }

  .series-link h2 {
    margin: 0px;
    margin-top: 25%;
    margin-bottom: 25%;
  }
  
  p {
    margin-bottom: 10px
  }

  h2.section-header {
    margin-bottom: 50px;
  }

  div.spacer {
    padding-bottom: 100px;
  }

  div.page {
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 10px;
  }

  .section-contents {
    display: inherit;
  }

  .info {
    width: 64%;
  }

  .links {
    width: 60%;
    display: inline-block;
    margin-right: 0;
  }

  .modal-description {
    text-align: justify;
    padding-right: 10px;
    text-indent: 20px;
  }
}

@media only screen and (min-width: 768px) and (orientation:landscape) {

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 35px;
  }
  
  p {
    font-size: 18px;
  }

  h2.section-header {
    font-size: 60px;
  }

  .modal-title {
    font-size: 35px;
  }

  .book-link {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) and (orientation:portrait) {

  h1 {
    font-size: 100px;
    padding: 20px;
  }

  h2 {
    font-size: 50px;
    padding: 20px;
  }
  
  p {
    font-size: 25px;
    padding: 20px;
  }

  h2.section-header {
    font-size: 80px;
    padding: 20px;
  }

  .modal-title {
    font-size: 50px;
    padding: 20px;
  }

  .book-link {
    font-size: 60px;
    padding: 20px;
  }

  .book-link img {
    height: 120px;
    margin-right: 10px;
    margin-left: 20px;
  }

  .modal-description {
    font-size: 25px;
  }
}