.App {
  text-align: center;
  padding-top: 50px;
  height: 100vh;
  overflow-x: hidden;
}

.app-content {
  overflow-x: hidden;
  position: fixed;
  top: 50px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  margin: 20px;
  font-size: 80px;
  font-family: Scriptina;
  font-weight: 800;
  text-shadow: 0 0 10px black, 0 0 13px black;
  color: white;
  z-index: 1;
}

h2 {
  font-size: 35px;
  font-family: Scriptina;
  font-weight: 800;
  text-shadow: 0 0 3px #FFFFFF, 0 0 5px #000000;
}

p {
  text-shadow: 0 0 1px #FFFFFF;
  font-size: 18px;
}

div.spacer {
  padding-bottom: 100px;
  overflow-x: hidden;
}

.links {
  width: 30%;
  display: inline-block;
}

.book-link {
  background-color: antiquewhite;
  width: 100%;
  display: block;
  text-align: left;
  padding: 10px;
  margin: 10px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
  font-family: Scriptina;
}

.book-link img {
  height: 50px;
  margin-right: 10px;
  margin-left: 20px;
}

div.page {
  min-height: 100vh;
  padding-top: 10px;
  padding-bottom: 100px;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

.series-links-container {
  width: 100%;
  flex: 80%;
  height: 80%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.series-link {
  width: 28%;
  margin-left: 4%;
  background-size: contain;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.series-link:nth-child(1) {
  background-image: url("./resources/russian_thrillers_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #CCCCFF 60%), url("./resources/russian_thrillers_background.jpeg"); /* W3C */
}

.series-link:nth-child(2){
  background-image: url("./resources/black_eagle_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #FFCCCC 60%), url("./resources/black_eagle_background.jpeg"); /* W3C */
}

.series-link:nth-child(3) {
  background-image: url("./resources/russian_tales_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #CCFFCC 60%), url("./resources/russian_tales_background.jpeg"); /* W3C */
}

.series-link h2 {
  margin: 0px;
  margin-top: 25%;
  margin-bottom: 25%;
}

.series-link div {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.main-header {
  height: 100px;
}

.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

.navbar-inverse .navbar-nav>li>a:focus {
  background-color: transparent;
  color: #999999;
  outline: none;
}

.spacer:nth-child(2) .page {
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("./resources/russian_thrillers_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #CCCCFF 60%), url("./resources/russian_thrillers_background.jpeg"); /* W3C */
}

.page:nth-child(3) {
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("./resources/black_eagle_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #FFCCCC 60%), url("./resources/black_eagle_background.jpeg"); /* W3C */
}

.page:nth-child(4) {
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("./resources/russian_tales_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #CCFFCC 60%), url("./resources/russian_tales_background.jpeg"); /* W3C */
}

h2.section-header {
  font-size: 60px;
}

.section-contents {
  display: inherit;
}

.info {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
  width: 64%;
  background-color: rgba(250,235,215, 0.6);
  padding: 20px;
  border-radius: 20px;
  text-align: justify;
}

.modal-description {
  float: left;
  width: 50%;
  text-align: justify;
  padding-right: 10px;
  text-indent: 20px;
}

.modal-image {
  width: 50%;
  display: inline-block;
}

.modal-image img {
  width: 100%;
}

.modal-title {
  font-size: 35px;
  font-family: Scriptina;
  font-weight: 800;
  text-shadow: 0 0 3px #FFFFFF, 0 0 5px #000000;
}