.App {
  text-align: center;
  padding-top: 50px;
  height: 100vh;
}

.app-content {
  overflow-x: hidden;
  overflow-y: overlay;
  position: fixed;
  top: 50px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  margin: 20px;
  font-size: 80px;
  font-family: Scriptina;
  font-weight: 800;
  text-shadow: 0 0 10px black, 0 0 13px black;
  color: white;
}

h2 {
  font-size: 35px;
  font-family: Scriptina;
  font-weight: 800;
  text-shadow: 0 0 3px #FFFFFF, 0 0 5px #000000;
}

p {
  text-shadow: 0 0 1px #FFFFFF;
}

div.page {
  min-height: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}

.series-links-container {
  width: 100%;
  flex: 80%;
  height: 80%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.series-link {
  width: 28%;
  margin-left: 4%;
  background-size: contain;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.series-link p {
  font-size: 15px;
}

.series-link:nth-child(1) {
  background-image: url("./resources/russian_thrillers_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #CCCCFF 60%), url("./resources/russian_thrillers_background.jpeg"); /* W3C */
}

.series-link:nth-child(2){
  background-image: url("./resources/black_eagle_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #FFCCCC 60%), url("./resources/black_eagle_background.jpeg"); /* W3C */
}

.series-link:nth-child(3) {
  background-image: url("./resources/russian_tales_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #CCFFCC 60%), url("./resources/russian_tales_background.jpeg"); /* W3C */
}

.series-link h2 {
  margin: 0px;
  margin-top: 25%;
  margin-bottom: 25%;
}

.series-link div {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.main-header {
  height: 100px;
}

.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

.navbar-inverse .navbar-nav>li>a:focus {
  background-color: transparent;
  color: #999999;
  outline: none;
}

.page:nth-child(2) {
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("./resources/russian_thrillers_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #CCCCFF 60%), url("./resources/russian_thrillers_background.jpeg"); /* W3C */
}

.page:nth-child(3) {
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("./resources/black_eagle_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #FFCCCC 60%), url("./resources/black_eagle_background.jpeg"); /* W3C */
}

.page:nth-child(4) {
  background-size: contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("./resources/russian_tales_background.jpeg"); /* fallback */
  background-image: linear-gradient(135deg, rgba(0,0,0,0), #CCFFCC 60%), url("./resources/russian_tales_background.jpeg"); /* W3C */
}

/* .react-simple-parallax-bg is generate by the component */
section .react-simple-parallax-bg {
  background-image: url("./resources/main_background.jpeg");
  height: 750px;
}

section .parallax {
  top: 200px;
  margin: auto;
}